/* Form Wrapper Styles 
.wrapper {
    position: relative;
    width: 400px;
    height: 440px;
    margin-left: 500px;
    background:black;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(1);
    transition: transform 0.5s ease, height 0.2s ease;
}

.wrapper.active-popup {
    transform: scale(1);
}

.wrapper.active {
    height: 520px;
}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

.wrapper .form-box.login {
    transition: transform 0.18s ease;
    transform: translateX(0);
}

.wrapper.active .form-box.login {
    transition: none;
    transform: translateX(-400px);
}

.wrapper .form-box.register {
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

.wrapper.active .form-box.register {
    transition: transform 0.18s ease;
    transform: translateX(0);
}

.wrapper .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #343a40;
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}

.form-box h2 {
    font-size: 2em;
    color: #f9f8fa;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #fff;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #fff;
    font-weight: 500;
    pointer-events: none;
    transition: 0.5s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
    top: -5px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #fff;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #fff;
    line-height: 57px;
}

.remember-forget {
    font-size: 0.9em;
    color: #fff;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forget label input {
    accent-color: #fff;
    margin-right: 3px;
}

.remember-forget a {
    color: #fff;
    text-decoration: none;
}

.remember-forget a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 45px;
    background: #343a40;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}

.login-register {
    font-size: 0.9em;
    color: #fff;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover {
    text-decoration: underline;
}

*/

/* Form Wrapper Styles */ 
.wrapper {
    position: relative;
    width: 400px;
    height: 500px;
    margin-left: 500px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    display:block;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(1);
    transition: transform 0.5s ease, height 0.2s ease;
}

.wrapper.active-popup {
    transform: scale(1);
}

.wrapper.active {
    height: 600px;
}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

.wrapper .form-box.login {
    transition: transform 0.18s ease;
    transform: translateX(0);
}

.wrapper.active .form-box.login {
    transition: none;
    transform: translateX(-400px);
}

.wrapper .form-box.register {
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

.wrapper.active .form-box.register {
    transition: transform 0.18s ease;
    transform: translateX(0);
}

.wrapper .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #343a40;
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}

.form-box h2 {
    font-size: 2em;
    color: #f9f8fa;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #fff;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #fff;
    font-weight: 500;
    pointer-events: none;
    transition: 0.5s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
    top: -5px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #fff;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #fff;
    line-height: 57px;
}

.remember-forget {
    font-size: 0.9em;
    color: #fff;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forget label input {
    accent-color: #fff;
    margin-right: 3px;
}

.remember-forget a {
    color: #fff;
    text-decoration: none;
}

.remember-forget a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 45px;
    background: #343a40;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}

.login-register {
    font-size: 0.9em;
    color: #fff;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover {
    text-decoration: underline;
}
.login-mode{
  text-align:center;
  color:white;
}

.mode-toggle {
  display: flex;
  padding-top:5px;
  justify-content: space-between;
  margin-bottom: 20px;
}

.mode-toggle button {
  padding: 8px 15px;
  border: 1px solid #343a40;
  cursor: pointer;
  width: 30%;
  background:#343a40;
  color:#fff;
  border-radius:10px;
}

.mode-toggle button.active {
  background-color: #fff;
  color: #343a40;
}


/* Background blur when the popup is open 
body {
  transition: filter 0.3s ease;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  backdrop-filter: blur(5px);
}

.wrapper {
  
  padding: 40px;
  border-radius: 8px;
  width: 350px;
  height: 480px;
  margin: 0 auto;
  position: relative;
  color: white;
  display: block;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  transition: transform 0.5s ease, height 0.2s ease;
}
/*
.wrapper .form-box {
  width: 100%;
  padding: 20px;
}

.wrapper .icon-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #343a40;
  color: #fff;
  padding: 10px;
  font-size: 1.5em;
  border-radius: 50%;
  cursor: pointer;
}

.mode-toggle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.mode-toggle button {
  padding: 8px 15px;
  border: 1px solid #ccc;
  cursor: pointer;
  width: 30%;
  border-radius:
}

.mode-toggle button.active {
  background-color: #4caf50;
  color: white;
}

/*.form-box h2 {
  font-size: 1.8em;
  text-align: center;
  color: #f9f8fa;
}

.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin-bottom: 25px;
  border-bottom: 2px solid #fff;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color: #fff;
 }
*/
